<section class="section">
    <div class="container">
        <p class="title">Mis Ofertas</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Titulo solicitud</th>
                    <th>Presupuesto</th>
                    <th>Precio Ofrecido</th>
                    <th>Fecha entrega</th>
                    <th>Estado</th>
                                       
                </tr>
            </thead>
                <tbody>
                    <% if @offers.blank? %>
                        <tr>
                            <td colspan="6" class="has-text-centered"><h1>NADA QUE MOSTRAR AQUÍ</h1></td>
                        </tr>
                    <% end %>
                    <% @offers.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d %b %Y') %></td>
                        <td>
                            <%= link_to o.request.title, request_path(o.request) %>
                        </td>                        
                        <td>$<%= o.request.budget %></td>
                        <td>$<%= o.amount %></td>
                        <td><%= pluralize(o.days, 'día') %></td>
                        <td>
                            <span class="tag <%= 'is-warning' if o.pendiente? %><%= 'is-success' if o.aceptada? %><%= 'is-danger' if o.rechazada? %>">    
                                <%= o.status.capitalize %>
                            </span>
                        </td>                       
                    </tr>
                     <% end %>
                </tbody>
        </table>
    </div>
</section>