<section class="section">
    <div class="container">
        <p class="title">Administrar órdenes de compra</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Titulo</th>
                    <th>Nombre del vendedor</th>
                    <th>Fecha de entrega</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if @orders.blank? %>
                    <tr>
                        <td colspan="6" class="has-text-centered"><h1>NADA QUE MOSTRAR AQUÍ</h1></td>
                    </tr>
                <% end %>

                <% @orders.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d %b %Y') %></td>
                        <td>
                                <%= link_to o.title, gig_path(o.gig) if !o.gig.nil? %>
                                <%= link_to o.title, request_path(o.request) if !o.request.nil? %>
                        </td>   
                        <td><%= o.seller_name %></td>
                        <td><%= o.due_date.strftime('%d %b %Y') %></td>                                             
                        <td><%= o.amount %></td>
                        <td>
                        <span class="tag <%= 'is-warning' if o.enprogreso? %><%= 'is-success' if o.completada? %>">   
                            <%= o.status.capitalize %>          
                        </span>                       
                        </td>
                        <td>

                                <% if !o.completada?%>
                                  <%= link_to  "Completar", complete_order_path(o), method: :put, class:"button is-small is-primary #{'is-hidden' if o.completada?}" %>
                                <% else %>
                                    <a class="button is-small is-outlined is-danger toggle-modal" aria-control="<%= o.id %>">Evaluar</a>
                                    <div class="modal" id="<%= o.id %>">
                                        <div class="modal-background"></div>
                                            <div class="modal-content">
                                                <div class="box">
                                                    <%= form_for Review.new do |f| %>
                                                        <%= f.hidden_field :order_id, value: o.id %>
                                                        <div class="field">
                                                            <div id="star_<%= o.id %>"></div>
                                                        </div>
                                                        <div class="field">
                                                            <%= f.text_area :review, class: "textarea" %>
                                                        </div>
                                                        <a class="toggle-modal button is-light" aria-control="<%= o.id %>">Cancelar</a>
                                                        <%= f.submit "Agregar Evaluación", class: "button is-danger" %>
                                                    <% end %>
                                                </div>
                                            </div>                                                                                 
                                    </div>
                                <% end %>                           
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</section>


<script>
    $('.toggle-modal').on('click', (e) => {
        e.stopPropagation();
        e.preventDefault();

        var order_id = e.target.getAttribute('aria-control');
        $('#star_' + order_id).raty ({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
        $('#star_' + order_id).raty('reload');
        $('#' + order_id).toggleClass('is-active');
    });
</script>