<section class="hero  is-fullheight">
<div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
          <div class="column is-6-table is-6-desktop is-6-widescreen">
              <div class="box">
                  <div class="field has-text-centered">
                        <strong>Iniciar sesión</strong>
                  </div>
               
                  

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class:"label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :recuerdame, class:"label" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.submit "Iniciar sesión", class:"button is-danger is-fullwidth m-t-10 m-b-10" %>
  </div>
<% end %>

<%= link_to 'Ingresa con Facebook', user_facebook_omniauth_authorize_path, method: :post, class:"button is-link is-fullwidth" %>



<%= render "devise/shared/links" %>

                  
              </div>
          </div>          
        </div>
    </div>
</div>

</section>






