<!DOCTYPE html>
<html>
  <head>
 <%= favicon_link_tag asset_path('favicon.png')%>


  <!-- PLUGINS CSS STYLE 
   <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> 

   Font Awesome 
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   Owl Carousel
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
   Fancy Box 
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">-->
  <!-- CUSTOM CSS 
  <link href="css/styles.scss" rel="stylesheet">-->
  <!-- BULMA CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  

  <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>YoPituteo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script> bulmaSteps.attach(); </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
   <!-- <link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet"> 
    <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha512-IBfPhioJ2AoH2nST7c0jwU0A3RJ7hwIb3t+nYR4EJ5n9P6Nb/wclzcQNbTd4QFX1lgRAtTT+axLyK7VUCDtjWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" integrity="sha512-CN6oL2X5VC0thwTbojxZ02e8CVs7rii0yhTLsgsdId8JDlcLENaqISvkSLFUuZk6NcPeB+FbaTfZorhbSqcRYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css" integrity="sha512-tNMyUN1gVBvqtboKfcOFOiiDrDR2yNVwRDOD/O+N37mIvlJY5d5bZ0JeUydjqD8evWgE2cF48Gm4KvQzglN0fg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <script src='~/fullcalendar/core/locales/es.js'></script> -->
  </head>
  <body>
    
  
    <%= render "shared/navbar" %>
    <%= render "shared/notification" %>

  
    <%= yield %>
   
  </body>
</html>
