<!DOCTYPE html>
<html>
  <head>
 <%= favicon_link_tag asset_path('favicon.png')%>


  <!-- PLUGINS CSS STYLE 
   <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> 
  Bootstrap 
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-slider.css">
   Font Awesome 
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   Owl Carousel
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
   Fancy Box 
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">-->
  <!-- CUSTOM CSS 
  <link href="css/styles.scss" rel="stylesheet">-->
  <!-- BULMA CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  


  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>YoPituteo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>

    <%= render "shared/navbar" %>
    <%= render "shared/notification" %>



    <%= yield %>
  </body>
</html>
